@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

#myVideo {
  position: fixed;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

button.playButton {
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2); /* Set your desired background color */
  padding: 5px 70px; /* Adjust the padding as needed */
  border: 2px solid white;

  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

ul,
li,
a {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #a09f9f;
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-family: "Spectral", serif;
  font-weight: 700;
  font-size: 90px;
  letter-spacing: 3px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  text-align: center;
  line-height: 90px;
  margin: 50px 0px 0px 0px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  text-decoration: none;
  background-color: black;
  opacity: 0.8;
}

.mern {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px 10px;
  padding: 10px 10px 50px 50px; /* Add padding for better readability */
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
}

.navLinks li {
  display: inline-block;
  padding: 0 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  color: #ffffff;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.logo {
  margin-right: auto;
  width: 3rem;
  max-height: 100%;
  cursor: pointer;
}

#nameForm {
  display: flex;
  justify-content: center;
  padding: 100px;
}

#name {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  min-width: 250px;
  min-height: 40px;
  font-size: 20px;
  padding: 10px;
  border: none;
}

#letsPlay {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.functionbutton,
input {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 20px;
  padding: 10px;
  color: rgb(82, 82, 82);
  background-color: white;
  text-decoration: none;
  border: 5px solid gray;
}

.functionbutton :hover {
  border: 2px solid rgb(255, 255, 255);
}

.hidden {
  display: none !important;
}

.navLinks {
  list-style: none;
}

#messageDiv {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}
